<!DOCTYPE html>
<html>
<head>
	<title>Pongster</title>
	<link rel="stylesheet" type="text/css" href= "/styles/findPongRoom.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="/scripts/findPongRoom.js"></script>
</head>
<body>
	<h1>Select one of the following</h1>
	<div id="buttons">
		<a href="/rooms/create">
			<button id="find">
				Create a pong room
			</button>
		</a>
		<a href="/rooms/find">
			<button id="join">
				Join an existing pong room
			</button>
		</a>
	</div>
</body>
</html>