<!DOCTYPE html>
<html>
<head>
	<title>Office Ponger</title>
	<link rel="stylesheet" type="text/css" href= "styles/landing.css">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	<link rel="icon" href="images/paddles.png">
	<div id="topButtons">
		<a href="/login">
			<button id="login">
				Login
			</button>
		</a>
		<a href="/register">
			<button id="signUp">
				Sign Up
			</button>
		</a>
	</div>
</head>
<body>
	<h1>Welcome to Office Ponger</h1>
	<h2>A way to keep track of heated ping pong in the office</h2>
	<hr>
	<a href="/login">
		<button id="getStarted">
			<img id="paddleImgButton" src="../images/paddle.png">GET STARTED
		</button>
	</a>
</body>
</html>